In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
def clean_mileage(value):
    if pd.isna(value):
        return None
    value = str(value).lower().replace("km", "").replace(",", "").strip()
    digits = re.sub(r"\D", "", value)
    return int(digits) if digits else None

In [3]:
def clean_engine(value):
    if pd.isna(value):
        return None

    value = str(value).lower()
    value = value.replace("cc", "").replace(",", "").strip()
    digits = re.sub(r"\D", "", value)
    return int(digits) if digits else None

In [4]:
def clean_price(value):
    if pd.isna(value):
        return None
    digits = re.sub(r"\D", "", str(value))
    return int(digits) if digits else None

In [5]:
def normalize_text(value):
    if pd.isna(value):
        return None
    return value.strip().title()

In [6]:
def clean_year(value):
    if pd.isna(value):
        return None
    match = re.search(r"(19|20)\d{2}", str(value))
    return int(match.group()) if match else None

In [7]:

jiji = pd.read_csv("../01_data_collection/raw_data/jiji_raw.csv")
autorec = pd.read_csv("../01_data_collection/raw_data/autorec_raw.csv")
bef = pd.read_csv("../01_data_collection/raw_data/beforward_raw.csv")

In [8]:
print("Loaded datasets:")
print("Jiji:", jiji.shape)
print("Autorec:", autorec.shape)
print("BeForward:", bef.shape)

Loaded datasets:
Jiji: (120, 9)
Autorec: (50, 9)
BeForward: (2446, 16)

In [ ]:
#Leave out Jiji, doesn't have mileage in the tree view. Would need me to go into form view

# jiji["price"] = jiji["price"].apply(clean_price)
# jiji["year"] = jiji["year"].apply(clean_year)
# jiji["make"] = jiji["make"].apply(normalize_text)
# jiji["model"] = jiji["model"].apply(normalize_text)

# jiji_clean = jiji.copy()
# jiji_clean.to_csv("clean_data/jiji_clean.csv", index=False)

In [14]:
autorec["mileage"] = autorec["mileage"].apply(clean_mileage)
autorec["engine_cc"] = autorec["engine_cc"].apply(clean_engine)
autorec["year"] = autorec["year"].apply(clean_year)
autorec["price_usd"] = autorec["price_usd"].apply(clean_price)
autorec["price_ugx"] = autorec["price_ugx"].apply(clean_price)
autorec["make"] = autorec["make"].apply(normalize_text)
autorec["model"] = autorec["model"].apply(normalize_text)

autorec_clean = autorec.copy()
autorec_clean.to_csv("clean_data/autorec_clean.csv", index=False)

In [15]:
bef["mileage"] = bef["mileage"].apply(clean_mileage)
bef["engine_cc"] = bef["engine_cc"].apply(clean_engine)
bef["year"] = bef["year"].apply(clean_year)
bef["price_usd"] = bef["price_usd"].apply(clean_price)
bef["total_price_usd"] = bef["total_price_usd"].apply(clean_price)
bef["price_ugx"] = bef["price_ugx"].apply(clean_price)
bef["total_price_ugx"] = bef["total_price_ugx"].apply(clean_price)
bef["make"] = bef["make"].apply(normalize_text)
bef["model"] = bef["model"].apply(normalize_text)

bef_clean = bef.copy()
bef_clean.to_csv("clean_data/beforward_clean.csv", index=False)

In [16]:
print("\nCLEANING COMPLETE!")
# print(jiji_clean.head())
print(autorec_clean.head())
print(bef_clean.head())

CLEANING COMPLETE!
                              title    make     model  year  engine_cc  \
0                 2013 Mazda Verisa   Mazda    Verisa  2013    15000.0
1                 2011 Mazda Biante   Mazda    Biante  2011    20000.0
2              2008 Toyota Vellfire  Toyota  Vellfire  2008    23900.0
3  2012 Subaru Legacy Touring Wagon  Subaru    Legacy  2012    24900.0
4               2012 Subaru Impreza  Subaru   Impreza  2012    15900.0

     mileage  price_usd  price_ugx  \
0   932000.0       4500   16200000
1  1005000.0       4500   16200000
2  1027000.0       5200   18720000
3  1024000.0       4900   17640000
4   669000.0       4700   16920000

                                                 url
0  /cars-list/hatchback/2013-mazda-verisa-7204?se...
1  /cars-list/mini-van/2011-mazda-biante-7203?sel...
2  /cars-list/mini-van/2008-toyota-vellfire-7200?...
3  /cars-list/wagon/2012-subaru-legacy-touring-wa...
4  /cars-list/hatchback/2012-subaru-impreza-7197?...
     ref_no                                              title        make  \
0  BY759022                              2006 HONDA ACTY TRUCK       Honda
1  BY759024                             2013 MITSUBISHI CANTER  Mitsubishi
2  CA462307  2014 TOYOTA HIACE VAN\n                       ...      Toyota
3  CA740447  2011 TOYOTA WISH\n                            ...      Toyota
4  CB026605  2017 HONDA FIT HYBRID\n                       ...       Honda

    model  year  mileage  engine_cc transmission            fuel seats  \
0    Acty  2006   111250     6500.0           MT          Petrol     2
1  Canter  2013   312401    29900.0      Semi AT          Diesel     3
2   Hiace  2014   161352    29800.0           AT          Diesel     3
3    Wish  2011   154001    17900.0           AT          Petrol     7
4     Fit  2017   111072    14900.0           AT  Hybrid(Petrol)     5

   location  price_usd  total_price_usd  price_ugx  total_price_ugx  \
0  Location       2370         397300.0    8532000     1.430280e+09
1  Location       3920         774700.0   14112000     2.788920e+09
2  Location       5960         849200.0   21456000     3.057120e+09
3  Location       2430         454400.0    8748000     1.635840e+09
4  Location       4790         663300.0   17244000     2.387880e+09

                                        url
0   /honda/acty-truck/by759022/id/11910020/
1  /mitsubishi/canter/by759024/id/11910065/
2   /toyota/hiace-van/ca462307/id/12565207/
3        /toyota/wish/ca740447/id/12831915/
4   /honda/fit-hybrid/cb026605/id/13106276/