In [2]:
import pandas as pd
import numpy as np
import joblib
import re

MODEL_PATH = "../04_modeling/models/price_prediction_model.pkl"
model = joblib.load(MODEL_PATH)

cars = pd.read_csv("../02_data_cleaning/clean_data/cars_merged.csv")
print("Loaded model and dataset.")
cars.head()

Loaded model and dataset.

,ref_no,title,make,model,year,mileage,engine_cc,transmission,fuel,seats,location,price_usd,total_price_usd,price_ugx,total_price_ugx,url,source
0,BY759022,2006 HONDA ACTY TRUCK,Honda,Acty,2006,111250.0,6500.0,MT,Petrol,2,Location,2370,397300.0,8532000,1.430280e+09,/honda/acty-truck/by759022/id/11910020/,BeForward
1,BY759024,2013 MITSUBISHI CANTER,Mitsubishi,Canter,2013,312401.0,29900.0,Semi AT,Diesel,3,Location,3920,774700.0,14112000,2.788920e+09,/mitsubishi/canter/by759024/id/11910065/,BeForward
2,CA462307,2014 TOYOTA HIACE VAN\n ...,Toyota,Hiace,2014,161352.0,29800.0,AT,Diesel,3,Location,5960,849200.0,21456000,3.057120e+09,/toyota/hiace-van/ca462307/id/12565207/,BeForward
3,CA740447,2011 TOYOTA WISH\n ...,Toyota,Wish,2011,154001.0,17900.0,AT,Petrol,7,Location,2430,454400.0,8748000,1.635840e+09,/toyota/wish/ca740447/id/12831915/,BeForward
4,CB026605,2017 HONDA FIT HYBRID\n ...,Honda,Fit,2017,111072.0,14900.0,AT,Hybrid(Petrol),5,Location,4790,663300.0,17244000,2.387880e+09,/honda/fit-hybrid/cb026605/id/13106276/,BeForward

In [3]:
def force_numeric(val):
    if pd.isna(val):
        return np.nan
    s = str(val).strip().lower()
    if s in ["ask", "-", "--", "", "nan", "none"]:
        return np.nan
    digits = re.sub(r"\D", "", s)
    return float(digits) if digits else np.nan

In [4]:
def get_user_input():
    print("Enter car details:\n")

    data = {}

    data["make"] = input("Make (e.g., Toyota): ").strip().title()
    data["model"] = input("Model (e.g., Premio): ").strip().title()
    data["year"] = force_numeric(input("Year (e.g., 2012): "))
    data["mileage"] = force_numeric(input("Mileage (km): "))
    data["engine_cc"] = force_numeric(input("Engine CC (e.g., 1800): "))
    data["transmission"] = input("Transmission (Automatic/Manual/CVT): ").strip().title()
    data["fuel"] = input("Fuel Type (Petrol/Diesel/Hybrid): ").strip().title()
    data["seats"] = force_numeric(input("Seats (e.g., 4): "))
    data["source"] = "User"

    return pd.DataFrame([data])

In [5]:
def recommend_price(input_df):
    predicted = model.predict(input_df)[0]
    return predicted

In [6]:
def find_similar_cars(df_input, k=5):
    df = cars.copy()

    # Prefer exact make/model match
    df = df[
        (df["make"].str.lower() == df_input["make"][0].lower()) &
        (df["model"].str.lower() == df_input["model"][0].lower())
    ]

    if df.empty:
        # fallback â€” same make only
        df = cars[cars["make"].str.lower() == df_input["make"][0].lower()]

    # Compute similarity score
    df["score"] = (
        (df["year"] - df_input["year"][0]).abs() * 0.4 +
        (df["engine_cc"] - df_input["engine_cc"][0]).abs() * 0.3 +
        (df["mileage"] - df_input["mileage"][0]).abs() * 0.3
    )

    df = df.sort_values("score").head(k)

    return df

In [7]:
def price_range(optimal):
    low = optimal * 0.9
    high = optimal * 1.1
    return low, optimal, high

In [8]:
print("### CAR PRICE RECOMMENDATION SYSTEM ###\n")

user_df = get_user_input()

# Predict
recommended_price = recommend_price(user_df)

low, fair, high = price_range(recommended_price)

print("\n### RECOMMENDED PRICE (UGX) ###")
print(f"Optimal Price: {fair:,.0f} UGX")
print(f"Suggested Price Range: {low:,.0f} UGX  -  {high:,.0f} UGX")

# Show similar cars
print("\n### SIMILAR CARS ###")
similar = find_similar_cars(user_df, k=5)
display(similar[[
    "make","model","year","mileage","engine_cc","price_ugx","source","url"
]])

### CAR PRICE RECOMMENDATION SYSTEM ###

Enter car details:


### RECOMMENDED PRICE (UGX) ###
Optimal Price: 12,617,346 UGX
Suggested Price Range: 11,355,612 UGX  -  13,879,081 UGX

### SIMILAR CARS ###

/var/folders/k7/ggnq5s_d0tg4z20frzwdzy_r0000gn/T/ipykernel_83830/1766943491.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["score"] = (

,make,model,year,mileage,engine_cc,price_ugx,source,url
2317,Toyota,Pixis,2017,30945.0,6600.0,17532000,BeForward,/toyota/pixis-joy/cb202295/id/13259683/
593,Toyota,Pixis,2017,26600.0,6600.0,19296000,BeForward,/toyota/pixis-epoch/cb205430/id/13262846/
1744,Toyota,Duet,2003,29100.0,10000.0,6516000,BeForward,/toyota/duet/ca819833/id/12908318/
2389,Toyota,Raize,2020,29000.0,10000.0,54612000,BeForward,/toyota/raize/cb202588/id/13259976/
398,Toyota,Roomy,2021,28361.0,10000.0,43272000,BeForward,/toyota/roomy/cb205603/id/13263020/